h3 {
    margin: 0;
    margin-top: 20px;
}

h6 {
    margin: 0;
    margin-top: 10px;
}

h4 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
}


input {
    background-color: #f5f5f5;
    border: 0;
    width: 100%;
    height: 40px;
    font-family: inherit;
    padding: 20px;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 3px;
    color: black;
}

select{
    background-color: #f5f5f5;
    border: 0;
    width: 100%;
    height: 40px;
    font-family: inherit;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 3px;
    color: black;
}

select option:first-child {
   text-align: center;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

textarea {
    background-color: #f5f5f5;
    border: 0;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 20px;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 3px;
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    border: 0;
    margin-top: 15px;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
}


.container {
    width: 360px;
    margin: auto;
}