<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expansão de Iluminação</title>
</head>
<body>
    <h1>Expansão de Iluminação</h1>
    <p>O serviço seus expansão de iluminação prefeitura tras<br>
       luz e encanto às àreas públicas, iluminando ruas, praças e espaços comunitários, 
       proporcionando segurança, beleza e uma atmosfera acolhedora para todas desfrutarem.</p>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Solicitar">
    </form>
</body>
</html>