*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Principal{
    margin-left: 30%;
    margin-right: 30%;
    /* text-align: center; */
}
input, textarea{
    background-color: rgba(128, 128, 128, 0.171);
    border: none;
    padding: 10px;
}
.solicitar:hover{   
    background-color: rgba(128, 128, 128, 0.733);
}