.titulo{
    color: black;
    font-family: sans-serif;
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    
}

.corpo{
    margin: auto;
    width: 500px;
    height: 400px;
    /* background-color: blueviolet; */
    
}



label{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}

input, textarea{
    width:100%;
    height: 30px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    border-width: 0px;
    margin: 5px;

}

button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    border: 0;
    margin-top: 15px;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
}

