<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRAS</title>
</head>
<body>
    

    <h4 class="titulo-categoria">Cras</h4>

    <div class="botao-servicos">Serviços</div>
    <div class="botao-arquivos">Agendamentos</div>

    <h5 class="titulo-servicos">Serviços disponíveis</h5>

    <div class="servicos">
        <a class="servico" href="/eventos2/textocras">
           Consulte o seu CRAS
        </a>
    </div>


</body>
</html>