{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pão_e_Leite</title>
</head>
<body>
    
    <h1>Olá, boa tarde!</h1>

    <h4 class="titulo-categoria">Pão e Leite</h4>

    <div class="botao-servicos">Serviços</div>
    <div class="botao-arquivos">Arquivos</div>

    <h5 class="titulo-servicos">Serviços disponíveis</h5>

    <div class="servicos">
        <a class="servico" href="/eventos2/formpaoleite">
           Pão e Leite
        </a>
    </div>

</body>
</html>