{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROCON-JP</title>
    <link rel="stylesheet" href="{% static 'global-eventos2.css' %}">
    <link rel="stylesheet" href="{% static 'eventos2.css' %}">
</head>
<body>

    <div class="container">
    
       
        
        <h4 class="titulo-categoria">Procon-JP</h4>

        <div class="botao-servicos">Serviços</div>
        <div class="botao-arquivos">Arquivos</div>

        <h5 class="titulo-servicos">Serviços disponíveis</h5>

        <div class="servicos">
            <a class="servico" href="/eventos2/duvida">
            Dúvidas
            </a>
    

        
            <a class="servico" href="/eventos2/reclamacao">
                Reclamação
            </a>

        

        
            <a class="servico" href="/eventos2/denuncia">
                Denúncias
            </a>

        </div>
    </div>   
    
</body>
</html>