{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRAS</title>
    <link rel="stylesheet" href="{% static 'global-eventos2.css' %}">
    
</head>
<body>

    <div class="container">

        <h4>Consulte seu CRAS</h4>

        <h6>ÀREA DE ABRANGÊNCIA DOS CRAS</h6>

        <h5>CRAS PADRE ZÉ</h5>
        <h6>Padre Zé (Condomínio Gadain - Rua do Cano)
            -Expedicionários Torre Tito Silva - Treze de Maio
            (Riachinho -Capadócia-Vila Japonesa)- Tambiá
            Bairro dos lpês l- Hildo Bandeira</h6>

        <h5>CRAS VOLANTE ROGER</h5>
        <h6>Alto Roger - Baixo Roger - Comunidade do S- Asa
            Branca - Buraco da Gia- Terra do Nunca</h6>

        <h5>CRAS VALE DAS PALMEIRAS</h5>
        <h6>Condomínio Vale das Palmeiras le ll, Bela Vista,
            Jardim Bom Samaritano, Boa Esperança Pedra Branca
            - Novo Horizonte</h6>

        <h5>CRAS GROTÃO</h5>
        <h6>Grotão (Rua do Arame; Comunidade 19 de Abril)
            - João Paulo II (Comunidade Citex; Tieta; Nova
            República)- Funcionários ll, llI (Comunidade Maria
            de Nazaré) e IV - Presidente Médici- Ernesto Geisel
            Ernani Sátiro - Costa e Silva (Comunidade do Taipa Luzia Maciel)</h6>

        <h5>CRAS ALTO DO MATEUS</h5>
        <h6>Alto do Mateus - Mumbaba - Jardim Veneza (Beira
            Molhada, Bola na Rede e 3 Lagoas) Bairro dos Novais
            Bairro das Indústrias e Jardim Planalto. Vieira Diniz
            Mussuré - Distrito Industrial</h6>

        <h5>CRAS ILHA DO BISPO</h5>
        <h6>Ilha do Bispo -Trincheiras -Distrito Mecânico -Porto
            do Capim-
            Comunidade Renascer I e ll-Cangote do Urubu
            Comunidade Santa Emília de Rodat -Centro
            Varadouro -Cordão Encarnado</h6>

        <h5>CRAS CRISTO</h5>
        <h6>Cristo -Rangel- Jardim ltabaiana- Riacho Doce
            Cemitério- Rua da Mata-Avenida Brasil-Água Fria-
            José Américo (Colibris e Laranjeiras).</h6>

        <h5>CRAS GRAMAME</h5>
        <h6>Gramame Sítio Gravatá - Colinas I- Engenho Velho
            Mituaçú - Vista Alegre- Irmã Dulce- Barra de
            Gramame - Jardim das Colinas Nova Jerusalém.</h6>

        <h5>CRAS VALENTINA</h5>
        <h6>Valentina le ll - Monsenhor Magno - Nova
            Mangabeira/Paratibe- Parque do Sol- Planalto da
            Boa Esperança- Cuiá - Barra de Gramame- Praia do
            Sol.
            Condomínios: Manacá Nice de Oliveira
            Independência Amizade- Cidadania Vitória- Torre de
            Babel - Invasão Paratibe</h6>

        <h5>CRAS MANDACARU</h5>
        <h6>Mandacaru- Alto do Céu (Beira da Linha-Beira
            Molhada - Jardim Esther - Boa Esperança - Ocupação
            Terra Nova - Jardim Mangueira- Porto de João Tota)
            -Bairro dos Estados - Pedro Gondim Loteamento
            Oceania I e Morada Nova
            Condomínios: General Antero de Brito (Cidade de
            Deus )</h6>

        <h5>CRAS GERVÁSIO MAIA</h5>
        <h6>Gervásio Maia - Marinêz- Colinas do Sul ll- Colinas de
            Gramame VI e VII - Conjunto 410- Sítio Novo
            Condomínio: Morumbi - Novo Alvorada- Parque dd
            Sul.</h6>

        <h5>CRAS CRUZ DAS ARMAS</h5>
        <h6>Cruz das Armas (Rua do Rio e Baleado)- Jaguaribe
            Paulo Afonso- Monte Cassino - Oitizeiro
            Funcionários I (Jardim Guaíba)</h6>

        <h5>CRAS SÃO JOSÉ</h5>
        <h6>São José- Aeroclube- Bessa - São Miguel - São Luiz
            Brisamar- Jardim Oceania - João Agripino - Manaíra
            Chatuba Miramar- Jardim Luna - Tambaú-Cabo
            Branco - Altiplano-Quadramares-São Domingos
            Rabo da Gata - Tambaúzinho</h6>

        <h5>CRAS MANGABEIRA</h5>
        <h6>Mangabeira la VIll- Cidade Verde- Feirinha Chapéu
            de Couro - Iraque - Aratú - Sonho Verde - Nárnia
            Aspom - Conjunto Mariz le ll - Espep Girassol -
            Vila Mangueira - Vila União - Balcão-Condomínio
            nvadido - Ambulantes - Mangão - Panorâmica
            Penha -Seixas - Jacarapé- Bancários - Timbó-
            Anatólia - Jardim São Paulo- Santa Bárbara-Cidade
            Universitária - Castelo Branco - Santa Clara - São
            Rafael.</h6>








    </div>
</body>
</html>