{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'forms.css' %}">
    <title>Poda de Arvores</title>
</head>
<body>
    <div class="corpo">
        <div class="titulo">
            <p class="titulo">Serviços</p>
        </div>
        <h2>Poda de Árvores</h2>
        <form action="" method="post">
            {{form}}
            {% csrf_token %}
            <button type="submit">Solicitar</button>
        </form>
    </div>
</body>
</html>