{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'forms.css' %}">
    <title>Poda de Arvores</title>
</head>
<body>
    <div class="corpo">
        <div class="titulo">
            <p class="titulo">Serviços</p>
        </div>
        <h2>Poda de Árvores</h2>
        <img class="foto" src="{% static 'podaDeArvores.png' %}" alt="era pra ser uma imagem">
        
        <div>
            <p>
                O Serviço de Poda de Árvores da Prefeitura é uma <br>
                iniciativa dedicada à manutenção e cuidado das árvores <br>
                urbanas que enriquecem nossa paisagem e contribuem <br>
                para a qualidade de vida de nossa comunidade. Este <br>
                serviço é projetado para garantir que as árvores da <br>
                cidade permaneçam saudáveis, seguras e esteticamente <br>
                agradáveis, promovendo um ambiente urbano mais <br>
                verde e sustentável
            </p>

            <h3>Benefícios do Serviço</h3>
            <ul>
                <li>
                    <p>
                        <b>Segurança Pública:</b> Reduzimos riscos associados <br>
                        a árvores danificada ou perigosas, garantindo a <br>
                        segurança de pedestres a veículos.
                    </p>
                </li>

                <li>
                    <p>
                        <b>Ambiente Mais Saudável:</b> Contribuímos para a <br>
                        qualidade do ar e a redução da poluição sonora, <br>
                        melhorando a qualidade de vida na cidade.
                    </p>
                </li>

                <li>
                    <p>
                        <b>Beleza Urbana:</b> mantemos a estética das áreas <br>
                        urbanas, promovendo um ambiente agradável e <br>
                        convidativo para moradores e visitantes.
                    </p>
                </li>

                <li>
                    <p>
                        <b>Sustentabildade:</b> Preservamos e incentivamos <br>
                        o crescimento de árvores saudáveis, que <br>
                        desempenham um papel crucial na mitigação <br>
                        das mudanças climáticas e na conservação da <br>
                        biodiversidade.
                    </p>
                </li>
            </ul>

            <p>
                Em resumo, o Serviço de Poda de Árvores da Prefeitura <br>
                é uma iniciativa essencial para o bem-estar da <br>
                comunidade, o equelíbiro ambiental e a beleza de nossas <br>
                áreas urbanas. Estamoscomprometidos em cuidar das <br>
                árvores que tornam nossa ciadade especial e convidamos <br>
                todos os cidadãos a se juntarem a nós nessa missão de <br>
                preservação e crescimento sustentável.
            </p>
        </div>

        <form action="" method="post">
            {{form}}
            {% csrf_token %}
            <button type="submit">Solicitar</button>
        </form>
    </div>
</body>
</html>