{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'forms.css' %}">
    <title>Poluicao Atmosferica</title>
</head>
<body>
    <div class="corpo">
        <div class="titulo">
            <p class="titulo">Serviços</p>
        </div>
        <h2>Poluição Atmosférica</h2>

        <p>
            Serviço de Combate à Poluição do Ar: A Secretaria da <br>
            SEMAM da Prefeitura de João Pessoa trabalha para <br>
            reduzir a poluição atmosférica e garantir uma cidade <br>
            mais saudável. Nossos especialistas fiscalizam as <br>
            fontes de poluição, promovem a conscientização e <br>
            implementam medidas de controle. Juntos, podemos <br>
            preservar a qualidade do ar que respiramos, proteger <br>
            nossa saúde e o meio ambiente. Denuncie práticas <br>
            poluentes e vamos construir um futuro mais limpo e <br>
            sustentável.
        </p>
        <form action="" method="post">
            {{form}}
            {% csrf_token %}
            <button type="submit">Solicitar</button>
        </form>
    </div>
</body>
</html>