{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulte Aqui o Conselho Tutelar da Região da Denúncia</title>
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'formulario_conselho_tutelar.css' %}">
</head>

<body>
    <div class="container">
        
        <h5 class="servicos-conselho">Serviços</h5>
       
        <h4 class="tituto-conselho">Consulte Aqui o Conselho Tutelar da Região da Denúncia</h4>


        <h5 class="h5_negrito">Conselho Tutelar Mangabeira:</h5>

        <h5>Rua Joaquim Avelino, 129 - Mangabeira I</h5>

        <h5>3213-5382/ 998645-8604</h5>

        <h5>Email: consehotutelarmangabeirapb@gmail.com</h5>
        
        <h5><u>Área de Abrangência:</u> Mangabeira I a VIll, Cidade
            Verde, Bancários, timbó, Anatólia, Jardim Cidade
            Universitária, Colibris, Jacarapé, Jardim São Paulo,
            Penha, Eucalipto, Campo Americano, IPEP, Vila União,
            Feirinha, Patricia Tomas, Conjunto dos Militares,
            Jardim Mangabeira e Projeto Mariz 1, l1le Ill.</h5>

           

        <h5 class="h5_negrito">Conselho Tutelar Norte:</h5>

        <h5>Av. Sergipe, 48-Bairro dos Estados</h5>

        <h5>3213-5383/ 98645-8557</h5>

        <h5>Email: conselhotutelamorte2@hotmail.com</h5>
        
        <h5><u>Área de Abrangência:</u> Varadouro, Centro,
            Roger, Tambiá, Expedicionários, Castelo Branco,
            Padre Zé, Treze de Maio, Mandacaru, Boa Vista,
            Bairro dos Ipês, Alto do Céu, Torre, Bairro dos
            Estados, Conjunto Verdes Mares, Pedro Gondim,
            Porto do Capim, Rua do Cano, Jardim Ester, Comunidade
            do S, João Tota, São Rafael, Santa Clara, Beira
            da Linha, Padre Hildon Bandeira, Brasilia de Palha,
            Santa Clara e Cafofo.</h5>



        <h5 class="h5_negrito">Conselho Tutelar Praia:</h5>

        <h5>Rua Catulo da Paixão Cearense, 63 - Jardim Luna</h5>

        <h5>3213-5384/ 98618-41 99</h5>

        <h5>Email: conselhopraia@yahoo.com.br</h5>
        
        <h5><u>Área de Abrangência:</u> Quadramares,
            Bessa, Miramar, Altiplano, Cabo Branco,
            Manaíra, Tambaú, Tambauzinho, Bairro São
            José, Jardim Oceania, Portal do Sol, Conjunto
            João Agripino, Jardim Luna, Brisamar, Aeroclube,
            Cidade Recreio, Ponta dos Seixas, Seixas, Comunidade
            São Luiz e Chatuba.</h5>



        <h5 class="h5_negrito">Conselho Tutelar Sudeste:</h5>

        <h5>Rua Juiz Manoel João da Silva, 112-João Paulo I1</h5>

        <h5>3213-5385/ 98645-7638</h5>

        <h5>Email: ctsudeste@hotmail.com</h5>
        
        <h5><u>Área de Abrangência:</u> Geisel, Esplanada,
            Costa e Silva, Presidente Médici, João Paulo lI,
            Nova República, Funcionários lI, lll e IV, Citex,
            Laranjeiras, Jardim Sepol, Gauchinha, Taipa
            (Conjunto Taipa Nova Vida), Grotão, Ernani Sátiro,
            Água Fria, Comunidade Maria de Nazaré, Jardim Sepol,
            Tieta e 1 de Abril.</h5>



        <h5 class="h5_negrito">Conselho Tutelar Sul:</h5>

        <h5>Rua: Francisca Moura 38- Centro</h5>

        <h5>3213-5386/ 98645-8311</h5>

        <h5>Email: conselbotutelarregiaosulio@gmail.com</h5>
        
        <h5><u>Área de Abrangência:</u> Alto do Mateus,
            Loteamento Juracy Palhano, lha do Bispo, Cordão
            Encarnado, Distrito Mecânico, Vila Cimepar, Jaguaribe,
            Trincheiras, Cruz das Armas, Bairro dos Novais, Oitizeiro,
            Funcionários I, Jardim Planalto, Vieira Diniz, Jardim Gualba,
            Jardim Veneza, Ilvan Bichara, Loteamento Nossa Senhora das Graças,
            Bairro das Indústrias, Distrito Industrial, Loteamento São José,
            Loteamento Santo Antonio e Comunidade Paulo Afonso.</h5>



        <h5 class="h5_negrito">Conselho Tutelar Cristo:</h5>

        <h5>Rua Presidente Ranieri Mazilli, 1783- Cristo</h5>

        <h5>3213-5387/ 98645-8032</h5>

        <h5>Email: conselhotelaristo@email.com</h5>
        
        <h5><u>Área de Abrangência:</u> Cristo, José Américo,
            Laranjeiras, Rangel, Jardim Itabaiana, Radialista,
            Jardim das Oliveiras, José Lins, Jardim Bom Samaritano,
            Riacho Doce(Ceasa), Vale da Palmeiras, Boat Esperança,
            Bela Vista, Redenção, Rua São Geraldo (Rua da mata) e Pedra Branca.</h5>



        <h5 class="h5_negrito">Conselho Tutelar Vatentina:</h5> 

        <h5>Valentina (Por trás do Mercado Público do bairro)</h5>

        <h5>3213-5388/ 83 98654-8795</h5>

        <h5>Email: conselhotutelarealentine@gmail.com</h5>
        
        <h5 class="h5_negrito_vatentina"><u>Área de Abrangência:</u> Valentina e loteamentos
            adjacentes, Mussumagro, Paratibe e Loteamentos Adjacentes,
            Prala do Sol, Barra de Gramame, Gramame, Planalto da Boa Esperança,
            Gervásio Maia, Colinas do Sul, Culá, Santa Barbara, Parque do Sol,
            Engenho Velho, Conjunto Residencial Marine, Torre de Babel,
            Comunidade Boa Esperança, Costa do Sol, Manacá e condominio Amizade 1, 2 e 3.</h5>


        
    </div>
</body>

</html>