{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edital de Formento</title>
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'formulario_cultura.css' %}">
</head>

<body>
    <div class="container">
        
        <h5 class="servicos-conselho">Serviços</h5>
       
        <h4 class="tituto-conselho">Edital de Formento</h4>

        <h5 class="frase">A Prefeitura Municipal de João Pessoa, por
            meio da Funjope e do FMC, reconhecendo a relevância histórica,
            cultural, econômica e social do movimento cultural pessoense
            publica o presente edital de selecao para incentivo a projetos
            nas áreas de música, dança, teatro, circo, culturas populares,
            artes visuais, fotografia, audiovisual e artes integradas que
            acontecerão no período de 2024/2025. Para inscrição, acessar o
            site: https://jpcultura.joaopessoa.pb.gov.br/autenticacao/#main</h5>

            <h5 class="frase">Arquivos</h5>

    </div>
</body>

</html>