{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Família Acolhedora</title>
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'familia_acolhedora.css' %}">
</head>

<body>
    <div class="container">
        
        <h5 class="titular">Serviços</h5>
        
        <!-- <div class="titular">Serviços</div> {% include 'navbar.html' %} -->

        <!-- https://pictogrammers.com/library/mdi/ -->
        <div class="icone">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>home-heart</title>
                <path
                    d="M2,12L12,3L22,12H19V20H5V12H2M12,18L12.72,17.34C15.3,15 17,13.46 17,11.57C17,10.03 15.79,8.82 14.25,8.82C13.38,8.82 12.55,9.23 12,9.87C11.45,9.23 10.62,8.82 9.75,8.82C8.21,8.82 7,10.03 7,11.57C7,13.46 8.7,15 11.28,17.34L12,18Z" />
            </svg>
        </div>

        <h4 class="titulo-categoria">Família Acolhedora</h4>

        <div class="botao-servicos">Cadastramentos</div>

        <h5 class="titulo-servicos">Cadastramentos disponíveis</h5>

        <div class="servicos">
            <a class="servico" href="/eventos/familia_acolhedora_">
                Família Acolhedora
            </a>

        </div>
    </div>
</body>

</html>