{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prêmio João Balula</title>
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'formulario_cultura.css' %}">
</head>

<body>
    <div class="container">
        
        <h5 class="servicos-conselho">Serviços</h5>
       
        <h4 class="tituto-conselho">Prêmio João Balula</h4>

        <h5 class="frase">Este Edital tem por objeto premiar iniciativas
            artísticas e culturais de artistas, artesãos, trabalhadores (as)
            da cultura/mestres (as) autodeclarados (as) negros (as); grupos,
            coletivos e/ou comunidades tradicionais de matriz africanas e de
            terreiros geridas por pessoas negras com natureza ou finalidade
            cultural, em prol da diversidade artística e cultural no município
            de João Pessoa. Para inscrição acessar o site: https://jpcultura.joaopessoa.pb.gov.br/autenticacao/#main</h5>

            <h5 class="frase">Arquivos</h5>


    </div>
</body>

</html>