{%load static%}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Liceciamento João Pessoa </title>
    <link rel="stylesheet" href="{% static 'Imposto_e_Certidoes.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <div class="container">
        <div class="icone">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>home-outline</title>
                <path
                    d="M12 5.69L17 10.19V18H15V12H9V18H7V10.19L12 5.69M12 3L2 12H5V20H11V14H13V20H19V12H22" />
            </svg>
        </div>

        <h4 class="titulo-categoria">Autorização e Alvará</h4>

        <div class="botao-servicos">Serviços</div>

        <h5 class="titulo-servicos">Serviços disponíveis</h5>

        <div class="servicos">
            <a class="servico" href="/licenciamento_2/SEDURB_Autorizacao/"> SEDURB - Autorização Uso de Solo - Comercial </a>
            <a class="servico" href="/licenciamento_2/SEDURB_Atualizacao">Autorização Uso de Solo-Eventual </a>
            <a class="servico" href="/licenciamento_2/Atualizacao_Quiosque">SEDURB - Atualização Cadastral Quiosques e Similares 2024 </a>
        </div>
    </div>

</body>

</html>