{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
    <link rel="stylesheet" href="{% static 'SEDURB - Autorização Uso de Solo - Comercial.css' %}">
</head>
<body>
    <div class="Principal">
        <h1>SEDURB - Autorização Uso de Solo - Comercial</h1>
        <p>REQUISITOS PARA ATENDIMENTO</p>
        <!-- <div class=""></div> -->
        <p>Requerimento (disponível no site da Prefeitura Munincipal, na Aba da Secretaria de Desenvolvimento Urbano. Cópia dos seguintes documentos:RG,CPF, Comprovante de Residência, Certidão Negativa de Tributos Municipais (emitida no site da Profeitura ou no Centro Administrativo Municipal</p>
        <p>PRIORIDADES <br>  <br> DE ACORDO COM A LEGISLAÇÃO VIGENTE <br> PRAZO MÁXIMO PARA PRESTAÇÃO DO SERVIÇO 7 DIAS A PARTIR DO RECEBIMENTO</p>
        <p> <strong>Informações</strong></p>
        
        <form action="" method="post"> 
            <!-- /licenciamento_2/Autorizacao_e_Alvara/ -->
        {% csrf_token %}
            <label>Descrição *</label><br>
            <textarea name="Descricao" id="" placeholder="Conteúdo" required></textarea><br><br>

            <label>Requerente *</label><br>
            <input type="text" name="Requerente" id=""><br><br>

            <label>CPF *</label><br>
            <input type="number" name="CPF" id=""><br><br>

            <input type="checkbox" name="Lig_Agua" id="">
            <label>Ligação de Água</label><br>
            <input type="checkbox" name="Lig_Energ" id="">
            <label>Ligação de Energia</label><br><br>
            
            <label>Endereço *</label><br>
            <input type="text" name="Endereco" id=""><br><br>

            <label> Status </label><br>
            <input type="text" name="Status" id="" placeholder="Em Andamento / Aberto / Fechado"><br><br>

            <input type="submit" value="Solicitar" class="solicitar">
            

            <!-- <button>Solicitar</button> -->
        </form>
    </div>
</body>
</html>