{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Liceciamento João Pessoa </title>
    <link rel="stylesheet" href="{% static 'Imposto_e_Certidoes.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="bloco">
        <!-- <input type="button" value=""> -->
        <p class="titulo_1">Serviços</p>
        <div class="icone">
            <!-- MUDAR O ICONE -->
        <span class="material-symbols-outlined"> task </span>

        </div>
        <h3 class="titulo_2"> Autorização e Alvará  </h3>
    </div>

    <div class="button">
        <!-- <input class="input_servico" type="button" value="Serviços"> -->
        <button> Serviços </button>
        <p style="font-weight: bold; font-size: 83%;">Serviços disponíveis</p>
    </div>

    <div class="bloco">
        <a href="/licenciamento/SEDURB_Autorizacao/"> <input type="button" value="SEDURB - Autorização Uso de Solo - Comercial"> </a>
    </div>
    
    <div class="bloco">
        <a href="/licenciamento/SEDURB_Atualizacao"><input type="button" value="SEDURB - Atualização Cadastral Quiosques e Similares 2024"></a>
    </div>
    <div class="bloco">
        <a href="/licenciamento/Autorizacao_Solo_Eventual"><input type="button" value="Autorização Uso de Solo-Eventual"></a>
    </div>
    
</body>
</html>