{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Liceciamento João Pessoa </title>
    <link rel="stylesheet" href="{% static 'Imposto_e_Certidoes.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="bloco">
        <!-- <input type="button" value=""> -->
        <p class="titulo_1">Serviços</p>
        <div class="icone">
        <span class="material-symbols-outlined"> attach_money </span>
        </div>
        <h3 class="titulo_2">Impostos e Certidões</h3>
    </div>

    <div class="bloco">
        <!-- <input class="input_servico" type="button" value="Serviços"> -->
        <button> Serviços </button>
    </div>
    
    <p style="font-weight: bold; font-size: 83%; margin-left: 32%;">Serviços disponíveis</p>

    <div class="bloco">
        <a href="https://www.joaopessoa.pb.gov.br/pc/integracao/emissaoNotaFiscalAvulsa.xhtml"><input type="button" value="Emissão de Nota Fiscal"></a>
    </div>

    <div class="bloco">
        <a href="https://www.joaopessoa.pb.gov.br/pc/integracao/certidaoNegativa.xhtml?faces-redirect=true"><input type="button" value="Certidão Negativa"></a>
    </div>
    <div class="bloco">
        <a href="https://www.joaopessoa.pb.gov.br/pc/integracao/emissao2ViaParcelamentoDebitos.xhtml?faces-redirect=trhttps://www.joaopessoa.pb.gov.br/pc/integracao/emissao2ViaParcelamentoDebitos.xhtml?faces-redirect=truehttps://www.joaopessoa.pb.gov.br/pc/integracao/emissao2ViaParcelamentoDebitos.xhtml?faces-redirect=trueue"><input type="button" value="Parcelamento de Débitos"></a>
    </div>
    <div class="bloco">
        <a href="https://www.joaopessoa.pb.gov.br/pc/integracao/consultaNotasAvulsas.xhtml"><input type="button" value="Consulta de Nota Fiscal Avulsa"></a>
    </div>
    
</body>
</html>