.categoria .itens {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.categoria.grid-1 .itens {
    grid-template-columns: repeat(1, 1fr);
}

.categoria .nome-categoria {
    margin: 12px 0;
}

.item {
    text-align: center;
    text-decoration: none;
}

.item:hover {
    opacity: 0.3;
    cursor: pointer;
}

.item .icone {
    background-color: var(--cor-laranja);
    padding: 18px;
    height: 40px;
    border-radius: 3px;
}

.icone svg {
    width: 20px;
    height: 20px;
    fill: white;
}

.item .nome {
    font-size: 12px;
    margin-top: 8px;
    color: azure;
    font-weight: bold;
}

.categoria.laranja .item .icone {
    background-color: var(--cor-laranja);
}

.categoria.azul-claro .item .icone {
    background-color: var(--cor-azul-claro);
}

.categoria.roxo .item .icone {
    background-color: var(--cor-roxo);
}

.categoria.rosa .item .icone {
    background-color: var(--cor-rosa);
}

.categoria.azul .item .icone {
    background-color: var(--cor-azul);
}

.categoria.verde .item .icone {
    background-color: var(--cor-verde);
}

.categoria.vermelho .item .icone {
    background-color: var(--cor-vermelho);
}
